<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= h(@page_title || application_name) %></title>
  <%# favicon_link_tag asset_path('favicon.ico') %>
  <%= stylesheet_link_tag    'atrium', :media => 'all' %>
  <%= javascript_include_tag 'atrium' %>
  <%= csrf_meta_tags %>
  <%= yield :theme_styles %>
</head>
<body>
    <div id="page">
      <div id="hd">
        <div id="logo">
          <% if content_for? :main_header %>
              <%= yield :main_header %>
          <% else %>
              <%# NOTE: There shouldn't be a new collection object hanging around here but one is present in the root catalog page when logged in. %>
              <% if @atrium_collection && !@atrium_collection.new_record? %>
                  <h3><%= link_to @atrium_collection.title, atrium_collection_home_path(@atrium_collection) %></h3>
              <% else %>
                  <h1 class="site_title">
                    <%= link_to application_name, "/" %>
                  </h1>
              <% end %>
          <% end %>
        </div>
      </div>
      <div id="bd">
        <div id="main">
          <div id="main_container">
            <%# render :partial=>'/flash_msg' %>
            <%= yield %>
          </div>
        </div>
        <div id="sidebar">
          <% if content_for? :atrium_side_bar %>
              <%= yield :atrium_side_bar %>
          <% end %>
        </div>
      </div>
      <div id="ft">
        <%= yield :footer %>
        <%= raw(@footer) %>
      </div>
    </div>
</body>
</html>
