<% content_for :atrium_side_bar do %>
  <%= render :partial => 'shared/navigation' %>
<% end %>

<% if @exhibit %>
  <%= form_for([@collection, @exhibit], :html => {:class => 'atrium'}) do |f| %>
    <% if @exhibit.errors.any? %>
      <ul class="errors">
        <% @exhibit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <fieldset>
      <ol>
        <li>
          <%= f.label :label, 'Title:' %>
          <%= f.text_field :label %>
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <legend>Scoping</legend>
      <ol>
        <li>
          <%= f.label :filter_query_params, 'Exhibit Scoping:' %>
          <%= f.select(:filter_query_params, saved_searches_for_select, { :include_blank => true }) %>
        </li>
        <p>
          An exhibit is a subset of a collection. The scope of the exhibit can be
          set to any query made in the search interface. Currently this does not restricted within collection.
        </p>
      </ol>
    </fieldset>

    <h3>Group Exhibit Items by Facets</h3>
    <p>
      Items present in a exhibit can be further scoped by facet selections. These facets
      are arranged in a single-level tree with each facet nested beneath its parent.
    </p>
    <fieldset>
      <legend>Current Facets</legend>
      <% if @exhibit.browse_levels.any? %>
        <table>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Facet</th>
              <th>Label</th>
              <th>Include Filter</th>
              <th>Exclude Filter</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody data-resource="<%# update_atrium_exhibit_facet_order_path %>" data-primary-label="Group By:" data-secondary-label="Then By:" class="sortable">
            <% @exhibit.browse_levels.each_with_index do |level,index| %>
              <tr data-id="<%= level[:id] %>" data-order="<%= level.level_number %>" class="ui-state-default">
                <%= f.fields_for :browse_levels, level do |level_form| %>
                  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                  <td class="label"><%= level.level_number == 1 ? 'Group By:' : 'Then By:' %></td>
                  <td><%=atrium_facet_field_labels[level.solr_facet_name]%></td>
                  <td><%=level_form.text_field :label, :value=>level.label%></td>
                  <td>
                      <%= level_form.select(:filter_query_params, saved_searches_for_select, { :include_blank => true }) %>
                  </td>
                  <td>
                    <%= level_form.select(:exclude_query_params, saved_searches_for_select, { :include_blank => true }) %>
                  </td>
                  <td><%=level_form.check_box :_destroy %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </fieldset>
    <p class="exhibit-facet-controls">
      <%= f.submit 'Update Exhibit and Facets', :class => 'button' %>
    </p>
  <% end %>
<% end %>

<% unless @exhibit.new_record?  %>
  <fieldset>
    <legend>Add Browse Levels</legend>
    <%= form_for([@collection, @exhibit]) do |f| %>
      <%= f.fields_for :browse_levels, @exhibit.browse_levels.build do |level_form| %>
        <%= level_form.label :solr_facet_name, 'Solr Facet:' %>
        <%= level_form.select(:solr_facet_name, @exhibit.get_available_facets.collect {|solr_fname| [atrium_facet_field_labels[solr_fname],solr_fname]}, { :include_blank => true })%>
        <%= f.submit 'Add Facet', :class => 'button' %>
      <% end %>
    <% end %>
  </fieldset>

  <h3>Showcases</h3>
  <% if @exhibit.showcases.any? %>
    <ol class="showcase-listing">
      <% @exhibit.showcases.each do |showcase| %>
        <li data-id="<%= showcase.id%>" data-order="<%= showcase.sequence %>" class="ui-state-default">
          <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
          <%= showcase.pretty_title %>
          <span class="controls">
            <%= link_to 'Configure', edit_exhibit_showcase_path(@exhibit, showcase) %>
            <%= link_to "Delete", exhibit_showcase_path(@exhibit, showcase), :method=>:delete, :class=>:destroy, :confirm=>"Do you really want to delete this showcase?"%>
          </span>
        </li>
      <% end %>
    </ol>
  <% else %>
    <em>There are no showcases in this collection.</em>
  <% end %>
  <%= link_to 'Add showcase to this exhibit', new_exhibit_showcase_path(@exhibit), :class => 'button' %>
  <p class="exhibit-destroy-controls">
    <%= button_to "Delete this Exhibit", collection_exhibit_path(@exhibit.collection, @exhibit), :method=>:delete, :class=>:destroy, :confirm=>"Do you really want to delete this exhibit?", :class => 'button' %>
  </p>
<% end %>

