

<% if @exhibit %>
  <%= form_for([@collection, @exhibit], :html => {:class => 'atrium'}) do |f| %>
    <% if @exhibit.errors.any? %>
      <ul class="errors">
        <% @exhibit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <fieldset>
      <legend>Exhibit Name</legend>
      <ol>
        <li>
          <%= f.label :label, 'Title Text:' %>
          <%= f.text_field :label %>
        </li>
      </ol>
    </fieldset>
    <fieldset>
      <legend>Exhibit Configuration</legend>
      <p>
        The scope of the exhibit can be set to any query made in the search
        interface. Technically, an exhibit does not have to be a subset of the
        collection.
      </p>
      <ol>
        <li>
          <%= f.label :saved_search_id, 'Update Exhibit Scope:' %>
          <%= f.select(:saved_search_id, saved_searches_for_select, { :include_blank => true }) %>
          <small><strong>Current Scope:</strong> <%= @exhibit.filter_query_params.inspect %></small>
          <small>Choose from one of your saved searches.</small>
        </li>
      </ol>
    </fieldset>

    <h3>Exhibit Navigation</h3>
    <p>
      Items in an exhibit can be further scoped by filters. Filters are
      basically nested facets with optional include or exclude rules. Exhibit
      filters are rendered as a hierarchal navigation control.
    </p>
    <fieldset>
      <legend>Current Navigation Levels</legend>
      <% if @exhibit.browse_levels.any? %>
        <table>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Facet</th>
              <th>Label</th>
              <th>Include Filter</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody data-resource="<%# update_atrium_exhibit_facet_order_path %>" data-primary-label="Group By:" data-secondary-label="Then By:" class="sortable">
            <% @exhibit.browse_levels.each_with_index do |level,index| %>
              <tr data-id="<%= level[:id] %>" data-order="<%= level.level_number %>" class="ui-state-default">
                <%= f.fields_for :browse_levels, level do |level_form| %>
                  <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
                  <td class="label"><%= level.level_number == 1 ? 'Group By:' : 'Then By:' %></td>
                  <td><%=atrium_facet_field_labels[level.solr_facet_name]%></td>
                  <td><%=level_form.text_field :label, :value=>level.label%></td>
                  <td>
<<<<<<< HEAD
                      <%= level_form.select(:saved_search_id, saved_searches_for_select, { :include_blank => true }) %>
                        <div>Current Scope: <%= @exhibit.filter_query_params.inspect %></div>
=======
                    <%= level_form.select(
                      :filter_query_params,
                      get_saved_search.collect{|search| [search, search.to_s]},
                      { :include_blank => true }
                    )%>
                  </td>
                  <td>
                    <%= level_form.select(
                      :exclude_query_params,
                      get_saved_search.collect{|search| [search, search.to_s]},
                      { :include_blank => true }
                    )%>
>>>>>>> 0.1.0
                  </td>
                  <td><%=level_form.check_box :_destroy %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </fieldset>
    <p class="exhibit-facet-controls">
      <%= f.submit 'Update Exhibit and Navigation', :class => 'button' %>
    </p>
  <% end %>
<% end %>

<% unless @exhibit.new_record?  %>
  <%= form_for([@collection, @exhibit], :html => {:class => 'atrium'}) do |f| %>
    <fieldset>
      <legend>Add Navigation Levels</legend>
      <%= f.fields_for :browse_levels, @exhibit.browse_levels.build do |level_form| %>
        <ol>
          <li>
          <%= level_form.label :solr_facet_name, 'Solr Facet:' %>
          <%= level_form.select(
            :solr_facet_name,
            @exhibit.get_available_facets.collect {|solr_fname| [atrium_facet_field_labels[solr_fname],solr_fname]},
            { :include_blank => true }
          )%>
        </li>
      </ol>
    </fieldset>
    <p><%= f.submit 'Add Navigation Level', :class => 'button' %></p>
  <% end %>
<% end %>
  <%= link_to 'Add a Showcase to this Exhibit', new_exhibit_showcase_path(@exhibit), :class => 'button' %>

  <hr />

  <%= button_to(
            'Delete this Exhibit',
            collection_exhibit_path(@exhibit.collection, @exhibit),
            :method => :delete,
            :form_class => 'exhibit-destroy-controls hazardous-action',
            :confirm => 'Do you really want to delete this exhibit?',
            :class => 'button'
    )%>
<% end %>

<% content_for :atrium_side_bar do %>
  <%= render :partial => 'shared/navigation' %>
  <%= link_to "Show related showcases",  exhibit_showcases_path(@exhibit) if @exhibit.showcases.any?  %>
<% end %>
