<% unless @showcase.new_record?  %>
  <hr />
  <h3>Featured Items</h3>
  <%= form_for([@parent, @showcase], :html => {:class => "atrium"}) do |f| %>
    <fieldset>
      <legend>Manage Featured Items</legend>
      <ol>
        <li>
          <%= f.label :showcase_items, 'Featured Items:' %>
          <%= f.collection_select(
            :showcase_items,
            get_saved_items.map{|item| Atrium::Showcase::FeaturedSelection.new(item)},
            :solr_id,
            :title,
            {},
            :multiple => true,
            :class => 'chosen',
            :'data-placeholder' => 'Select desired items from the list'
          )%>
          <small>Choose from your bookmarked items.</small>
        </li>
      </ol>
    </fieldset>
    <p><%= f.submit 'Update Featured Items List', :class => 'button' %></p>
  <% end %>

  <hr />
  <h3>Descriptions</h3>
  <% if @showcase.descriptions.any? %>
    <ol data-resource="<%# update_atrium_collection_exhibit_order_path %>" class="exhibit-listing sortable">
      <% @showcase.descriptions.each do |desc| %>
        <li data-id="<%= desc.id %>" data-order="<%#sequence %>" class="ui-state-default">
          <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
          <%= desc.pretty_title %>
          <span class="controls">
            <%= link_to(
              'Configure',
              edit_showcase_description_path(@showcase, desc)
            )%>
            <%= link_to(
              'Delete',
              showcase_description_path(@showcase, desc),
              :method => :delete,
              :class => :destroy,
              :confirm=>"Are you really want to delete this description?"
            )%>
          </span>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p><em>There are no descriptions in this showcase.</em></p>
  <% end %>
  <%= link_to 'Add New Description', new_showcase_description_path(@showcase), :class => 'button' %>
<% end %>
