<% if @showcase %>
  <%= form_for([@parent, @showcase], :html => {:class => 'atrium'}) do |f| %>
    <% if @showcase.errors.any? %>
      <ul class="errors">
        <% @showcase.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <ol>
      <li>
        <%= f.label :label, 'Tag:' %>
        <%= f.text_field :tag %>
      </li>
      <li>
        <%= f.label :sequence, 'Sequence:' %>
        <%= f.text_field :sequence %>
      </li>
    </ol>
    <p class="showcase-controls">
      <%= f.submit 'Update showcase', :class => 'button' %>
    </p>
  <% end %>
<% end %>

<%= render 'configure_menu' %>

<% content_for :atrium_side_bar do %>
  <%= render :partial => 'shared/navigation' %>
  <%= link_to "Delete this showcase", showcase_path(@showcase), :method=>:delete, :class=>:destroy, :confirm=>"Are you really want to delete this showcase?"  unless @showcase.new_record?%>
  <hr>
  <%= link_to "View this showcase within #{@showcase.parent_title}", get_parent_path(@showcase) %>
<% end %>
