<% content_for :atrium_side_bar do %>
    <%= render :partial => 'shared/navigation' %>
<% end %>

<% if @showcase %>
  <%= form_for([@parent, @showcase], :html => {:class => 'atrium'}) do |f| %>
    <% if @showcase.errors.any? %>
      <ul class="errors">
        <% @showcase.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <ol>
      <li>
        <%= f.label :label, 'Tag:' %>
        <%= f.text_field :tag %>
      </li>
      <li>
        <%= f.label :sequence, 'Sequence:' %>
        <%= f.text_field :sequence %>
      </li>
    </ol>
    <p class="showcase-controls">
      <%= f.submit 'Update showcase', :class => 'button' %>
    </p>
  <% end %>
<% end %>
<% unless @showcase.new_record?  %>
  <%= render 'configure_menu' %>
  <p class="destroy-controls">
    <%= button_to "Delete this showcase", showcase_path(@showcase), :method=>:delete, :class=>:destroy, :confirm=>"Are you really want to delete this showcase?", :class => 'button' %>
  </p>
<% end %>
