<h1>Showcases for <%= @parent.pretty_title%></h1>

<% if @showcases.any? %>
    <table>
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Tag</th>
        <th>Belongs To</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody data-resource="<%# update_atrium_exhibit_facet_order_path %>" data-primary-label="Group By:" data-secondary-label="Then By:" class="sortable">
      <% @showcases.each_with_index do |showcase,index| %>
          <tr data-id="<%= showcase[:id] %>" data-order="<%= showcase.sequence %>" class="ui-state-default">
            <td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
            <td class="label"><%= showcase.pretty_title %></td>
            <td> <%= showcase.tag %></td>
            <td><div> <%=render_showcase_facet_selection(showcase) %> </div></td>
            <td> <%= link_to 'Configure', get_showcase_parent_edit_path(showcase) %> </td>
            <td><%= link_to "Delete", get_showcase_parent_show_path(showcase), :method=>:delete, :class=>:destroy, :confirm=>"Do you really want to delete this showcase?"%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<% content_for :atrium_side_bar do %>
    <%= render :partial => 'shared/navigation' %>
<% end %>
