<%= render :partial=>'shared/collection_title_header'%>

<div id="show_description">
  <%- if @atrium_showcase && @atrium_showcase.descriptions.any? -%>
    <%= render :partial=>'shared/list_descriptions', :locals=>{:descriptions=>@atrium_showcase.descriptions} %>
  <%- end -%>
</div>

<div id="show_selected">
  <%- if !@documents.blank? && @documents.any? -%>
    <%= render :partial=>'shared/featured_sources' %>
  <%- end -%>
</div>

<h3 class="list-heading">Complete Sources</h3>
<div id="complete_sources">
  <%- if !@collection_items_documents.blank? -%>
    <%= render :partial=>'collection_items_index' %>
  <%- else -%>
    <%= render :partial=>'browse_index'%>
  <%- end -%>
</div>
