
<% descriptions.each do |desc| %>
  <%- title= desc.pretty_title %>
  <% if !desc.nil? && !is_editing?%>
    <% path = params[:controller] == "atrium_exhibits" ?  atrium_description_path(desc.id, :f=>params[:f], :exhibit_id=>params[:id]) : atrium_description_path(desc.id, :collection_id=>params[:id]) %>
    <% if desc.show_on_this_page? %>
      <h3>
        <%= link_to title, path, :label=>("Essay: \"#{title}\"") %>
      </h3>
      <blockquote>
        <%= desc.get_summary.html_safe %>
      </blockquote>
      <%= link_to "Read the complete essay", path%>
    <% else %>
      <h3><%=title%></h3>
      <%- content= desc.description_solr_id.blank? ? desc.get_essay : get_essay_from_description(@description_hash,desc.description_solr_id)%>
      <blockquote class="intro"><%= truncate( content, :length =>550, :ommision => "....").html_safe%></blockquote>
      <% if content.length>50 %>
        <a class="heading" href="#">[Read the complete essay]</a>
        <div style="display: none"class="content" id="<%= desc.id %>">
          <%= content.html_safe %>
        </div>
      <% end %>
    <% end %>
  <% elsif is_editing?%>
    <%# need to add dl tag for animated JS to work %>
    <dl>
      <h3><%= "Essay: #{title}"%></h3>
      <h4>Summary: </h4> <blockquote> <%= desc.summary.content.html_safe unless desc.summary.nil? %> </blockquote>
      <h4>Essay: </h4><blockquote> <%= desc.essay.content.html_safe unless desc.essay.nil? %> </blockquote>
      <h4>From Solr:</h4> <%= desc.description_solr_id.blank? ? "" : get_essay_from_description(@description_hash,desc.description_solr_id).html_safe%>
      <% if (can? :create, Atrium::Description)%>
        <%= link_to 'Edit Description', edit_atrium_description_path(desc.id), :class => 'description_colorbox button', :action=> atrium_descriptions_path(@atrium_showcase.id) if desc.description_solr_id.blank? %>
        <a class="destroy_description button" href=# action="<%= atrium_description_path(desc.id)%>" title="Remove Description"> Delete this description</a>
      <% end %>
    </dl>
  <% end %>
<% end %>
