<div class="facet-list">
  <h2 class="collection-title"><%= @collection.pretty_title %></h2>
  <ul class="collection-controls">
    <li><%= link_to 'View Collection', main_app.collection_path(@collection) %></li>
    <li><%= link_to 'Configure Collection', edit_collection_path(@collection) %></li>
  </ul>
  <%@collection.exhibits.each do |exhibit|%>
    <% unless exhibit.new_record? %>
      <h3 class="exhibit-title"><%= exhibit.pretty_title%></h3>
      <ul class="exhibit-controls">
        <li><%= link_to 'View Exhibit', main_app.exhibit_path(exhibit) %></li>
        <li><%= link_to 'Configure Exhibit', edit_collection_exhibit_path(@collection, exhibit) %></li>
      </ul>
    <%end%>
  <%end%>
</div>

<hr />

