<%= form_for(@collection, :html => {:class => "atrium"}) do |f| %>
  <fieldset>
    <legend>Basic Configuration</legend>
    <% if @collection.errors.any? %>
      <ul class="errors">
        <% @collection.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <ol>
      <li>
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :title_markup, 'Title Markup:' %>
        <%= f.text_area :title_markup, :class => 'jquery-ckeditor'  %>
      </li>
      <li>
        <%= f.label :url_slug, 'URL slug:' %>
        <%= f.text_field :url_slug %>
      </li>

      <li>
        <%= f.label :search_facet_names, 'Collection Search Facets:' %>
        <%= f.collection_select :search_facet_names, atrium_facet_field_labels.map {|key, facet| Atrium::Search::FacetSelection.new(:field_name => key)}, :field_name, :label, {}, :multiple => true, :class => 'chosen', :'data-placeholder' => 'Select desired facets from the Collection' %>
      <li/>
      <li>
        <%= f.label :collection_description, 'Collection Browse Page About Text:' %>
        <%= f.text_area :collection_description, :rows=> '20', :cols => '120', :class => 'jquery-ckeditor' %>
      </li>
      <li>
        <%= f.label :search_instructions, 'Collection Search Page About Text:' %>
        <%= f.text_area :search_instructions, :rows=> '20', :cols => '120', :class => 'jquery-ckeditor' %>
      </li>
      <li>
        <%# f.label :theme, 'Collection Theme:' %>
        <%# f.collection_select :theme, Atrium::Collection.available_themes, :to_s, :titleize %>
      </li>
    </ol>
    <%= f.submit 'Update Collection Configuration', :class => 'button' %>
  </fieldset>
<% end %>
<h3>Exhibits</h3>
<% if @collection.exhibits.any? %>
  <ol data-resource="<%# update_atrium_collection_exhibit_order_path %>" class="exhibit-listing sortable">
    <% @collection.exhibits.each do |exhibit| %>
      <li data-id="<%= exhibit[:id] %>" data-order="<%= exhibit.set_number %>" class="ui-state-default">
        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
        <%= exhibit.pretty_title %>
        <span class="controls">
          <%= link_to 'Configure', edit_exhibit_path(exhibit) %>
      </span>
      </li>
    <% end %>
  </ol>
<% else %>
    <em>There are no exhibits in this collection.</em>
<% end %>
<% if can_add_view_exhibit? %>
  <%= form_for(@exhibit, :html => {:class => "atrium"}) do |exhibit| %>
    <%- @exhibit.set_number = @collection.exhibits.size + 1 -%>
    <%- @exhibit.atrium_collection_id = @collection[:id] -%>
    <%= exhibit.hidden_field :set_number %>
    <%= exhibit.hidden_field :atrium_collection_id %>
    <%= exhibit.submit 'Add a Exhibit to this Collection', :class => 'button' %>
  <% end %>
<% end %>
<%= form_for(@exhibit, :html => {:class => "atrium"}) do |exhibit| %>
    <%- @exhibit.set_number = @collection.exhibits.size + 1 -%>
    <%- @exhibit.atrium_collection_id = @collection[:id] -%>
    <%= exhibit.hidden_field :set_number %>
    <%= exhibit.hidden_field :atrium_collection_id %>
    <%= exhibit.submit 'Add a Exhibit to this Collection', :class => 'button' %>
<% end %>


